{% extends 'base.html' %}

{% block content %}
<div class="site-wrapper-inner-not-centered">
    {% if error %}
    <p class="error">
        <strong> Error:</strong>
        {{ error }}
    </p>
    {% endif %}

    <!-- overall joke evaluation -->
     <h3>For this evaluation, we showed you 5 jokes each that we thought would be good, bad, and median (in the middle of our recommendations).</h3>
    <h4>On average, you gave those jokes these ratings:</h4>
    <p>
        Good Jokes: {{good_avg}}<br>
        Median Jokes: {{median_avg}}<br>
        Bad Jokes: {{bad_avg}}<br>
    </p>
<hr color="gray">
    <!-- individual joke ratings -->
    {% for joke in jokes %}
    Joke {{ loop.index }}
    <br>

    <p class="joke-text">{{ joke }}</p>

    <p class="predicted-rating">
        Predicted Rating: {{guessed_ratings[loop.index - 1]}} <br>
        Your Actual Rating: {{ratings[loop.index - 1]}} <br>
        Joke Group: {{group[loop.index - 1]}}
    </p> <br>

    <hr color="gray">
    {% endfor %}


<br>
    <p>
        <a href="{{ url_for('completion') }}" class="btn btn-lg btn-secondary">Finish!</a>
    </p><br><br>
</div>
{% endblock %}
