{% extends 'base.html' %}

{% block content %}
<div class="site-wrapper-inner-not-centered">
    {% if error %}
    <p class="error">
        <strong> Error:</strong>
        {{ error }}
    </p>
    {% endif %}

    <!-- individual joke ratings -->
    {% for joke in jokes %}
    Joke {{ loop.index }}
    <br>

    <p class="joke-text">{{ joke }}</p>

    <p class="predicted-rating">
        Predicted Rating: {{guessed_ratings[loop.index - 1]}} <br>
        Your Actual Rating: {{ratings[loop.index - 1]}} <br>
        Joke Group: {{group[loop.index - 1]}}
    </p> <br> <br>

    <hr color="gray">
    {% endfor %}

    <!-- overall joke evaluation -->
    <p>
        For this evaluation there are 5 jokes that are good, bad, and median (in the middle of our recommendations)<br>
        Ratings Averages:<br>
        Good Jokes: {{good_avg}}<br>
        Median Jokes: {{median_avg}}<br>
        Bad Jokes: {{bad_avg}}<br>
    </p>

    <p>
        <a href="{{ url_for('completion') }}" class="btn btn-lg btn-secondary">Finish!</a>
    </p>
</div>
{% endblock %}
