{% extends 'base.html' %}

{% block content %}
<div class="inner cover">
    <h1 class="cover-heading">Welcome to RoboJoker!</h1>

    {% if rated_baseline == 'False' %}

    <p class="lead">Thanks for exploring humor with us! Here's what's going to happen:</p>
    <p>First, we're going to ask you to rate 20 jokes, so our algorithm gets a sense of what types of jokes you like. Then you'll have two options: you can either help us improve our algorithm by rating 15 more jokes (and seeing how well our predictions were), or you can get a set of jokes recommended to you.
    </p>
    <br>
    <a href="{{ url_for('baseline') }}" class="btn btn-lg btn-secondary">Let's begin!</a>

    <br><br><p>Or, you can tell us a joke and we'll try to find you similar jokes from our database.</p>
    <br><a href="{{ url_for('similarity') }}" class="btn btn-lg btn-secondary">Similar Joke Finder</a>

    {% else %}
    <a href="{{ url_for(next_page)}}" class="btn btn-lg btn-secondary">Evaluate more jokes</a>
    <br><br><a href="{{ url_for('funny_jokes') }}" class="btn btn-lg btn-secondary">Gimme some funny jokes!</a>
    <br><br><a href="{{ url_for('clear_session') }}" class="btn btn-lg btn-secondary">Start a new session!</a>
    <br><br><a href="{{ url_for('similarity') }}" class="btn btn-lg btn-secondary">Similar Joke Finder</a>

    {% endif%}
    <br><br>
    <p>
        WARNING: Some jokes might be offensive. Sorry!
    </p>
</div>

<div class="mastfoot">
    <div class="inner">
        <h6>
            RoboJoker is a joke recommendation engine, part of a class project for natural language processing at UC Berkeley. Joke text was sourced from Comedy Central (jokes.cc.com), OneLineFun.com, and Reddit.
        </h6>
        <!-- TODO: Add additional disclaimer for offensive jokes -->
    </div>
</div>

{% endblock %}
