{% extends 'base.html' %}

{% block content %}
<div class="site-wrapper-inner-not-centered">
    <div class="form-check radioGroupBelow">
        <form action="" method="post" name="jokes">
            {{ form.hidden_tag() }}


            {% for field in form %}

            {% if loop.index == 1 %}
            <!-- first field is CSRF field - do not display -->
            {% else %}
            <div class="form-check-inline"></div>

            Joke {{ loop.index - 1}}
            <br>

            <p class="joke-text">{{ jokes[loop.index - 2]}}</p>

            {% for subfield in field %}
            <tr class="radioGroupBelow">
                <br>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br><br>
            <p><a href="#" data-toggle="collapse" data-target="#demo" class="small">Click here to reveal what we thought you'd rate this joke.</a></p>
            <!--the id's for each of these will need to come from Flask, so this will need to be updated -->
            <div id="demo" class="collapse">
                <p>&#9733; &#9733; &#9733; &#9733; (Replace with actual prediction)</p>
            </div>

            {% endif %}
            <hr color="gray">
            {% endfor %}

            <p>
                <input type="submit" value="More Jokes!" class="btn btn-md btn-secondary nextjoke">
            </p>
        </form>
    </div>
</div>
{% endblock %}
