{% extends 'base.html' %}

{% block content %}
<div class='row'>
    <div class="col s12">
        <p>Here is some joke text. It might go on and on, or it might be just a short one-liner. After you read it, you'll have to rate it below.</p><br>

        <p margin-top="20px">How would you rate this joke?</p>

        <form action="" method="post" name="jokes">
            {{ form.hidden_tag() }}


            {% for field in form %}

            {% if loop.index == 1 %}
            <!-- first field is CSRF field - do not display -->
            {% else %}
            <div class='section'></div>

            Joke {{ loop.index - 1}}
            <br>

            {{ jokes[loop.index - 2]}}
            <br>

            {% for subfield in field %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br>

            {% endif %}
            {% endfor %}

            <p>
                <input type="submit" value="Next Joke!" class="btn">
            </p>
        </form>
    </div>
</div>
{% endblock %}
