{% extends 'base.html' %}

{% block content %}
<div class="inner cover">
    <div class="col s12">
        <h1 class="cover-heading">We're feeding your responses into our super-secret algorithm...</h1>
        <br>

        {% if next_page == 'page_1' %}
        <p class="lead">
            We have created three sets of five jokes, each a little bit different. Let's check them out!
        </p>
        {% else %}
        <p class="lead">
            We have got some additional jokes for you to evaluate. Enjoy!
        </p>
        {% endif %}


        <a href="{{ url_for(next_page)}}" class="btn btn-lg btn-secondary">Evaluate more jokes</a>

        <br><br><br><br>
        <p class="lead">
            Alternatively, enjoy your hard earned personalized joke recommendation here!
        </p>
        <a href="{{ url_for('funny_jokes') }}" class="btn btn-lg btn-secondary">Gimme some funny jokes!</a>

    </div>
</div>
{% endblock %}
