{% extends 'base.html' %}

{% block content %}
<div class="inner cover">
    <div class="col s12">
        <h1 class="cover-heading">We're feeding your responses into our super-secret algorithm...</h1>
        <br>
        <p class="lead">Next we'll show you some recommended jokes, again in sets of five. You can view and rate as many as you like. (Each set of ratings you give us should improve our choices for the next page of jokes.)</p>
        <br>
        <a href="{{ url_for('recommendation')}}" class="btn btn-lg btn-secondary">Onward!</a>
    </div>
</div>
{% endblock %}
