{% extends 'base.html' %}

{% block content %}
<div class="inner cover">
    <div class="col s12">
        <h1 class="cover-heading">We're feeding your responses into our super-secret algorithm...</h1>
        <br>
        <p class="lead">We're creating three different sets of five jokes, each a little bit different. You can view them in any order:</p>
        <br>
        <a href="{{ url_for('recommendation')}}" class="btn btn-lg btn-secondary">&#x1F420</a>
        <a href="{{ url_for('recommendation')}}" class="btn btn-lg btn-secondary">&#x1F41D</a>
        <a href="{{ url_for('recommendation')}}" class="btn btn-lg btn-secondary">&#x1F419</a>
    </div>
</div>
{% endblock %}
